<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>Rest Proxy Example</title> 
    <link rel="stylesheet" type="text/css" href="/static/extjs/resources/css/ext-all.css" /> 
    <script type="text/javascript" src="/static/extjs/ext-all-debug.js"></script>
    <script type="text/javascript" src="/static/restful.js"></script> 
</head> 
    <body> 
        <div id="filterbox-example"></div>
        <div id="table-example"></div>
        <div id="form-example"></div>
        <div id="chart-example"></div>
    </body> 
</html>

