<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Devilry web interface</display-name>

	<servlet>
		<servlet-name>Main</servlet-name>
		<jsp-file>/main.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
</web-app>
